@import 'variables';
.hero_about {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background-color: rgba($color: $clr-primary-dark, $alpha: 0.4);
  }
  video {
    max-width: 100%;
  }
  @include breaks(large) {
    min-height: 40rem;
    height: auto;
  }
}
.about_container {
  --flex-inline-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  margin: 0 auto;
  @include breaks(large) {
    flex-direction: row;
    align-items: flex-start;
    & > * {
      flex: 1;
    }
  }
}
.gallery__slider-images {
  .gallery__slider-btn {
    border: none;
    border-radius: 50%;
    background-color: var(--clr-primary-80);
    width: var(--space-s);
    height: var(--space-s);
    &.active {
      background-color: var(--clr-accent-70);
    }
  }
  .gallery__slide-image {
    width: 100%;
    aspect-ratio: 9/ 12;
    border: 1px solid var(--clr-secondary-90);
    border-radius: $b_rad_small;
    position: relative;
    overflow: hidden;
    @include breaks(medium) {
      max-width: 600px;
      margin: 0 auto;
    }
    img {
      position: absolute;
      opacity: 0;
      transition: opacity 0.3s ease-out;
      &.active {
        animation: slide-left 0.4s ease-out 0s 1 forwards;
        opacity: 1;
      }
    }
  }
}
.gallery__slider-blocks {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: var(--space-s);

  @include breaks(medium) {
    flex-direction: row;
    min-height: 32rem;
  }
}
.gallery__slide-block {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  flex: 0.5;
  min-height: 4rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 20%;
  border-radius: var(--space-l-xl);
  border: 1px solid var(--clr-primary-80);
  transition: flex 0.5s ease-out;

  @include breaks(medium) {
    min-width: var(--space-xl);
    background-position: center top;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba($color: #590a4e, $alpha: 0.5);
  }
  &.active {
    flex: 5;
    min-height: 25rem;
    border-radius: var(--space-l);
    background-position: center top;
    @include breaks(medium) {
      max-width: 37.5rem;
    }
    &::after {
      background-color: transparent;
    }
  }
}
