.footer_container {
  margin: 0 auto;
  padding: var(--space-xl) 0 var(--space-m) 0;
  width: 90%;
  max-width: var(--max-width);
  text-align: center;
}
.footer_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  text-align: left;
  @include breaks(large) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }
}
