@import 'variables';

header {
  z-index: 100;
  width: 100%;
  background-color: var(--clr-white);
  box-shadow: $shadow-primary;
  position: relative;
  &.transparent {
    background-color: rgba($color: #000000, $alpha: 0);
    box-shadow: none;
  }
}
.header_container {
  background-color: transparent;
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-xs) 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_container a,
.mobile-btns button {
  z-index: 60;
  width: var(--space-xl);
  height: var(--space-xl);
  display: grid;
  place-items: center;

  svg {
    max-height: 95%;
    max-width: 95%;
  }
}

.mobile-btns {
  @include breaks(large) {
    display: none;
  }
  button {
    background-color: transparent;
    border: none;
  }
}
nav.mobile-nav {
  z-index: 50;
  visibility: visible;
  position: fixed;
  width: 80vw;
  max-width: 32rem;
  height: 60vh;
  top: 50%;
  left: 50%;
  right: unset;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  background: $bg-linear;
  box-shadow: $shadow-primary;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-l);
  border-radius: $b_rad_small;

  ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2em;
    animation: fade-in 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s 1 forwards;
  }
  .nav-btns {
    flex-direction: column;
    gap: 1.2em;
  }
}
nav {
  visibility: hidden;
  position: fixed;
  right: 1000%;
  top: 0;
  display: flex;
  gap: var(--space-m);
  @include breaks(large) {
    visibility: visible;
    position: relative;
    right: unset;
    background-color: transparent;
    align-items: center;
  }
  ul {
    list-style: none;
    display: flex;
    @include breaks(large) {
      flex-direction: row;
      gap: var(--space-m);
    }
    li {
      text-align: center;

      a {
        text-transform: uppercase;
        font-size: var(--step-0);
        color: var(--clr-primary-25);
        position: relative;
        &:hover::before {
          background-color: var(--clr-primary-60);
          transform: translate(-50%, -50%);
        }
        &::before {
          z-index: -1;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-150%, -50%);
          width: var(--step-2);
          height: var(--step-2);
          border-radius: 50%;
          background-color: transparent;
          transition: background-color 0.5s ease-out, transform 0.6s ease-out;
        }
      }
    }
  }
}
.nav-btns {
  display: flex;
  gap: var(--space-m);
}
a {
  text-decoration: none;
}
.nav-btn_link {
  font-size: var(--step-0);
  border: $border;
  border-radius: $b_rad_small;
  padding: 0.5rem 1.8rem;
  text-align: center;
  transition: background-color 0.5s ease-out;
}
.btn_primary {
  border-color: var(--clr-primary-50);
  background-color: var(--clr-primary-50);
  color: var(--clr-white);
  &:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary-50);
  }
}
.btn_white {
  border-color: var(--clr-primary-50);
  background-color: var(--clr-white);
  color: var(--clr-primary-40);
  &:hover {
    background-color: var(--clr-primary-50);
    color: var(--clr-white);
  }
}
